.main {
  height: 100vh;
  overflow-x: hidden;
}

.topbar {
  height: 50px;
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .input-group {
    max-width: 50%;
  }
}
