$title-font: 'Montserrat', sans-serif;

.main {
  font-size: 16px;
  font-family: 'Lato';
}

.main-splash {
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(rgba(192, 57, 43,0.9), rgba(192, 57, 43,0.9)), url('../img/perfect-italian-pizza.jpg');
  background-position: center;
  background-size: cover;
}

.hero-area {
    position: relative;
    top: 40%;
    transform: translateY(-60%);
    margin: 0 auto;
    .input-group {
      max-width: 50%;
      margin: 0 auto;
      font-size: bold;
      font-family: 'Roboto';
      input {
        height: 40px;
        padding: 10px;
      }
    }
    h1, h2 {
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-family: $title-font;
      margin-bottom: 30px;
    }

    .input-group-btn {
      button {
        height: 40px;
        width: 40px;
        background-color: #262626;
        color: white;
      }
    }
}


.topbar {
  height: 50px;
  width: 100%;
  background-color: #262626;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .input-group {
    max-width: 50%;
  }
  h4 {
    color: white;
    font-family: $title-font;
  }
}

.results-page {
  background: #ecf0f1;
}

.venue-location {
  text-align: center;
  margin: 20px 0;
}

.venue-item {
  border-radius: 5px;
  height: 200px;
  background: white;
  margin-bottom: 20px;
}

.venue-rating {
  height: 35px;
  width: 35px;
  background: #262626;
  text-align: center;
  margin-bottom: 10px;
  line-height: 35px;
  span {
    color: white;
    font-weight: bold;
  }
}

.venue-name {
  font-size: 120%;
  display: inline-block;
  font-family: $title-font;
}

.tips-text {
  font-size: 70%;
}



.inner-carousel {
  width: 80%;
  margin: 0 auto;
}
.slick-prev:before, .slick-next:before {
  color: black;
}

.tips-box {
  height: 100px;
  width: 100%;
  border: 1px solid black;

}

.hidden-tips {
  display: none;
}

.map-area {
  height: 200px;
}
